@media screen and (min-width: 768px) {
    #atendimento{
        padding-bottom: 24px;
        .col-md-4{
            color: black;
            width: 30%;
            
        }
    }
    .foto{
        padding-top: 40px;
    }

    #localização{
        #mapa{
            padding-top: 16px;
            
        }
        
        .conteudo-localizão{
            text-align: left;
            
        }
    }
    #rodape{
        #nome-advogados{
            flex-flow: row wrap;
            justify-content: space-between ;
        }
    }
}