#diferencial{
    h2{
        font-weight: lighter;
        color: #f7cd86;
        padding: 16px 0px;
    }
    h3{
        font-size: 1.6em;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    hr{
        padding: 16px 0px;
        color: #f7cd86;
    }
    background-color: rgb(83, 83, 83);
    .ico-d{
        font-size: 3em;
        padding: 16px;
        background-color: #f7cd86;
        border-radius: 50%;
    }
    p{
        font-weight: lighter;
        color: #f7cd86;
        padding: 16px 0;
        font-size: 1.5em;
    }
}