#localização{
    padding-top: 32px;
    .conteudo-localizão{
        text-align: center;
        padding: 20px;
        h2{
            padding-top: 16px;
            font-weight: lighter;
            color: #9C8051;
        }
    }
    #mapa{

        iframe{
            max-width: 600px;
            width: 100%;
            border-radius: 16px;
            padding: 20px;
            justify-content: space-between;
        }
    }
}