#rodape{
    height: 210px;
    background-color: #002954;
    #logo-rodape{
        padding: 16px;
        text-align: center;
    }

    #nome-advogados{
        text-align: center;
        display: flex;
        justify-content: space-between ;
        color: white;
        padding: 0px 50px;
    }
    }
    