@media screen and (max-width: 768px){

    #img-home{
        padding-top: 40px;
    }
    .t-equipe{
        display: flex;
        flex-flow: column;
        
        .col-md-6{
            width: 100%;
        }
    }
    #localização{
        #mapa{
            padding-top: 40px;
            iframe{
            height: 350px;
        }
        }
        
        .conteudo-localizão{
            text-align: left;
            
        }
    }
    #rodape{
        #nome-advogados{
            flex-flow: row wrap;
            justify-content: space-between ;
        }
    }
}